<pre style="background-color: #379f43; color: rgb(2, 16, 2); padding: 15px; border-radius: 10px; font-size: 16px; font-family: Arial, sans-serif; line-height: 1.6;">
    1) RAKSHAN R DODDAMANI
       <strong>Chief Executive Officer</strong>
       email-id: <a href="mailto:rakshandn@gmail.com" style="color: #032c08; text-decoration: none; font-weight: bold;">rakshandn@gmail.com</a> 
    
    2) RAJASHEKHRAYYA HIREMATH
       <strong>Chief Technical Officer</strong>
       email-id: <a href="mailto:RAJASHEKHRAYYA_HIREMATH@gmail.com" style="color: #032c08; text-decoration: none; font-weight: bold;">RAJASHEKHRAYYA_HIREMATH@gmail.com</a>
    
    3) MEGHRAJ KUMBAR
       <strong>Chief Marketing Officer</strong>
       email-id: <a href="mailto:MEGHRAJ_KUMBAR@gmail.com" style="color: #032c08; text-decoration: none; font-weight: bold;">MEGHRAJ_KUMBAR@gmail.com</a>
    
    4) BHAGAT SINGH
       <strong>Chief Operational Officer</strong>
       email-id: <a href="mailto:BHAGAT_SINGH@gmail.com" style="color: #032c08; text-decoration: none; font-weight: bold;">BHAGAT_SINGH@gmail.com</a>
</pre>
